.hoge {
    font-size: 24px;

    &__hoge {
        // コメントアウト
        color: #3399cc;
        @media screen and (min-width: 480px) {
            color: #3399bb;
        }
    }

    &__hogehoge {
        background-color: #123;

        @media screen and (min-width: 480px) {
            color: #ddd;
        }
    }
}
